<%= render partial: "navbar/navbar" %>
<div class="container">
<% if notice %>
<div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>
<h1>Recent Tweets</h1>
<%= render partial: "tweets/tweet_display", locals: {tweets: @tweets} %>
</div>
